/*zero out*/
*, html {
  margin: 0;
  padding: 0;
}
/*text*/
body {
  font-family: Arial, Verdana, sans-serif;
  color: #000000;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
/*main layout*/
#header {
  margin: 20px auto 0 auto;
  display: flex;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100px;
  background-color: #F38474;
}
#title {
  width: fit-content;
  height: fit-content;
  color: #F9F8F8;
}
#main-area {
  margin: auto;
  padding: 20px 5% 20px 5%;
  width: 85%;
  background-color: #DEE2EC;
}
#form-area {
  max-width: 650px;
  border-radius: 10px;
  height: 500px;
  margin: auto;
  background-color: #3A404E;
}
#footer {
  margin: 0 auto 20px auto;
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 50px;
  background-color: #F38474;
}
